$bg-image: url(https://hdwallpaperspage.com/full/109200.jpg);

body {
    background-image: $bg-image;
    .container-fluid {
        padding: 0;
        img {
            border: 10px solid white;
        }
    }
}